.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: $sidebar-width;
    height: 100vh;
    border-right: 0.5px solid #38383A;

    background-color: $primary;

    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-sidebar;

    @media (max-width: 990px) {
      width: 200px;
      justify-content: flex-start;
    }

    @media (max-width: 575px) {
        display: none;

        .show-sidebar {
            display: block;
        }
    }
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 4rem;


    font-weight: 950;
    font-size: 20px;
    line-height: 26px;
    background: linear-gradient(to right, #0061FD 80%, #BCD6FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;

    @media (max-width: 990px) {
        margin: 3rem 2rem;
        font-size: 18px;
        line-height: 20px;
    }

    
    @media (max-width: 575px) {
        .show-sidebar {
            display: none;
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 22.8rem;
    height: 4.8rem;
    padding-left: 3.7rem;
    margin-bottom: 1.6rem;
    color: rgba(235, 235, 245, 0.6);

    &:hover {
        background-color: $secondary;
        border-radius: 12px;
        color: #fff;
        cursor: pointer;
    }

    @media (max-width: 990px) {
        width: 18rem;
        margin-bottom: 1rem;
    }

     
    @media (max-width: 575px) {
        .show-sidebar {
            width: 100%;
        }
    }
}

.nav__link {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 18px;

    color: inherit;

    text-decoration: none;
    
    i {
        margin-right: 1.2rem;
    }

    .profile_img {
        border-radius: 50%;
        margin-right: 1.2rem;
        position: relative;
    }

}