<header class="header">
    <ul class="nav__header">
        <li class="nav__header-item">
            <a href="#" class="nav__header-link active">
                Discover
            </a>
        </li>
        <li class="nav__header-item">
            <a href="#" class="nav__header-link">
                Browse
            </a>
        </li>
        <li class="nav__header-item">
            <a href="#" class="nav__header-link">
                Wishlist
            </a>
        </li>
    </ul>

    <button class="burger" type="button">
        <span>Open</span>
    </button>

    <div class="search">
        <i class="fas fa-bell"></i>
        <input type="text" placeholder="Search">
    </div>
</header>
