<aside class="sidebar">
   <div class="top__nav">
        <a href="#" class="logo">
            <img src="../assets/images/logo.svg" alt="logo">
            GamesMode
        </a>
        <ul class="nav">
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fas fa-fire"></i>
                    Store
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fas fa-th-large"></i>
                    Library
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fas fa-users"></i>
                    Friends
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fas fa-signal"></i>
                    Live
                </a>
            </li>
        </ul>
   </div>

    <div class="bottom__nav">
        <ul class="nav">
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fas fa-download"></i>
                    Downloads
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="fas fa-cogs"></i>
                    Settings
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <img class="profile_img" src="https://via.placeholder.com/22" alt="#">
                    Yurii Tsiupa
                </a>
            </li>
        </ul>
    </div>
</aside>
